
<body>
  <header>
    <h1>Tech Blog</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        {{#if user}}
          <li><a href="/logout">Logout</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
  
  <main>
    {{#if posts.length}}
      <h2>Recent Posts</h2>
      <ul>
        {{#each posts}}
          <li>
            <h3>{{title}}</h3>
            <p>Posted by {{author}} on {{formatDate createdAt}}</p>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>No posts available.</p>
    {{/if}}
  </main>
  
  <footer>
    <p>&copy; 2023 Tech Blog. All rights reserved.</p>
  </footer>
  
  <script src="main.js"></script>
</body>
</html>
