{{!-- View page for when a user clicks on a single blog post --}}
{{ #if blogPost }}
<section class="container" id="post-container">
  <h3>{{title}}</h3>
  <p> {{content}}</p>
  <div>
    <p>Posted by {{user.name}} on {{formatDate createdAt}}</p>
    </div>
  <div>
  <button class="btn btn-danger" id="delete">Delete</button>
  {{!-- form to update post if logged in  --}}
  {{#if loggedIn}}
  <form action="/api/posts/{{blogPost.id}}" method="PUT">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="post-title" name="title" value="{{blogPost.title}}" required>
    </div>
    <div class="form-group">
      <label for="content">Content:</label>
      <textarea id="content" name="content" required></textarea>
    </div>
    <button type="submit" id="update">Update Post</button>
  </form>
  {{/if}}
  </div>
  <div>
  <h4>Comments: {{blogPost.comments}}</h4>
  <div class="form-group">
  <input type="text" id="comment" placeholder="Add a comment">
  <button class="btn btn-success" type="submit" id="commentBtn">Add Comment</button>
  </div>
 </div>
</section>
{{/each}}
 <script src="/js/addComment.js"></script>
 <script src="/js/deletePost.js"></script>
 <script src="/js/editPost.js"></script>
  <script src="/js/logout.js"></script>