{{!-- View page for when a user clicks on a single blog post --}}

<section class="container" id="post-container">
  <h3 class="blog-post">{{{blog-post.name}}}</h3>
  <p> {{blogpost.title}}</p>
  <div>
    Author: {{blogpost.author}}
    Date: {{blogpost.date}}
    </div>
  <button class="btn btn-danger" id="delete">Delete</button>
  <button class="btn btn-warning" id="update">Edit</button>
  <div>
  <h4>Comments: {{blogpost.comments}}</h4>
  <div class="form-group">
  <input type="text" id="comment" placeholder="Add a comment">
  <button class="btn btn-success" id="commentBtn">Add Comment</button>
  </div>
 </div>
  <section class="flex-row justify-center">
    {{#each BlogPost as |BlogPost|}}
    {{> blogPost}}
    {{/each}}
  </section>
</section>
