{{!-- after the user has logged in/ signed up, this is the dashboard page --}}
  <!-- If the user is logged in, render the content -->
{{#title}}Dashboard{{/title}}
{{#if loggedIn}}
{{!-- Content section --}}
{{#content "dashboard"}}
  <div class="dashboard">
    <h1>Welcome to Your Dashboard</h1>
    
    {{!-- Display user's blog posts --}}
    {{#if posts}}
      <h2>Your Blog Posts:</h2>
      <ul>
        {{#each posts}}
          <li>
            <a href="/blog/{{id}}">
              <h3>{{title}}</h3>
            </a>
            <p>{{content}}</p>
            <p>Created on: {{formatDate created_at}}</p>
            <p>Comments:
            <ul>
              {{#each comments formatDate created_at}}
                <li>{{this}}</li>
              {{/each}}
              </p>
          </li>
          <button id="update-post" href="/blogPost/{{_id}}">Update</button>
          <button id="delete-post" href="/blogPost/{{_id}}">Delete</button>
        {{/each}}
      </ul>
    {{else}}
      <p>You haven't created any blog posts yet.</p>
    {{/if}}
    
    {{!-- Add a new blog post --}}
    <h2>Create a New Blog Post:</h2>
    <form action="/blog" method="POST">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea id="content" name="content" required></textarea>
      </div>
      <button type="submit">Create Post</button>
    </form>
    <!-- Otherwise, provide instructions on how to view dasbboard -->
{{else}}
<a>You must login or signup first to view this page</a>
{{/if}}
  </div>
{{/content}}
