{{!-- after the user has logged in/ signed up, this is the dashboard page --}}
  <!-- If the user is logged in, render the content -->
{{#if loggedIn}}
<div class="card">
 <h2>Your Blog Posts</h2>
    {{#if posts}}
      <ul>
        {{ title }}
          <li>
            <h3>{{title}}</h3>
            <p>Posted on {{formatDate createdAt}}</p>
            <button href="/blogPost/{{_id}}">Read more</button>
          </li>
      </ul>
    {{else}}
      <p>No posts available.</p>
    {{/if}}
    </div>
    
   <div class="button-container">
    <a href="/views/blogPost.handlebars">Add New Blog Post</a>
</div>
  <div>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login or signup first to view this page</a>
{{/if}}
   </div>