{{!-- after the user has logged in/ signed up, this is the dashboard page --}}
  <!-- If the user is logged in, render the content -->
{{#if loggedIn}}
 <h2>Your Blog Posts</h2>
    {{#if posts.length}}
      <ul>
        {{#each posts}}
          <li>
            <h3>{{title}}</h3>
            <p>Posted on {{formatDate createdAt}}</p>
            <a href="/posts/{{_id}}">Read more</a>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>No posts available.</p>
    {{/if}}
    
   <div class="button-container">
    <a href="/newpost">Add New Blog Post</a>
</div>
  <div>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login or signup first to view this page</a>
{{/if}}
   </div>