{{! this is the homepage the user can navigate to }}

  {{#if posts}}
    <div class="card" id="BlogPost">
      {{#each posts}}
        <h3>{{title}}</h3>
        <p>Posted by {{user_id}} on {{formatDate createdAt}}</p>
        {{#if comments}}
          <p>{{content}}</p>
        {{else}}
          <p>No comment yet.</p>
        {{/if}}
      {{/each}}
    </div>
  {{else}}
    <p>No posts available.</p>
  {{/if}}
