{{! this is the homepage the user can navigate to }}

  {{#if posts}}
    <div class="card" id="BlogPost">
      {{#each posts as |posts|}}
        <h3>{{title}}</h3>
        <button id="view-post" href="/views/blogPost/{{_id}}">Read more</button>
        <p>Posted by {{user.name}} on {{formatDate createdAt}}</p>
      {{/each}}
    </div>
  {{else}}
    <p>No posts available.</p>
  {{/if}}
